

#superior_nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
} 
#superior_nav ul li {
	display:inline-block;
	color: #1f2859;
    text-decoration: none;
}
#superior_nav a {
	display:block;
	padding:0 10px; 
	color:#ffffff;
    background-color: black;
	font-size:25px;
	line-height: 60px;
	text-decoration:none;
    
}
#superior_nav a:hover { 
	background-color: #1f2859; 
	color:#FFF;
    text-decoration: none;
}
#superior_nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
} 
#superior_nav ul li:hover > ul {
	display:inherit;
} 
#superior_nav ul ul li {
	width:230px;
	float:none;
	display:list-item;
	position: relative;
}
#superior_nav li > a:after { content:  ' ▼'; }
#superior_nav li > a:only-child:after { content: ''; }




#superior_nav > ul {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
}

#superior_nav > ul > li {
    text-align: center;
}

#superior_nav > ul > li > a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    display: block;
    padding: 0.5rem 1rem;
}

#superior_nav > ul > li > a:hover {
    color: white;
    text-decoration: underline;
}

#superior_nav > ul > li > button {
    background-color: transparent;
    border: none;
    padding: 0;
}

#superior_nav > ul > li > button > img {
    max-height: 50px;
    width: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    #superior_nav > ul > li {
        width: 90%;
    }
    
    #superior_nav > ul > li > a {
        font-size: 20px;
    }

    nav>#superior_nav {
        border-radius: 0px;
    }

    #superior_nav > ul > li > button > img {
        max-height: 40px;
        width: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 920px) {
    #superior_nav > ul > li {
        width: 70%;
    }
    
    #superior_nav > ul > li > a {
        font-size: 18px;
    }

    nav>#superior_nav {
        border-radius: 0px;
    }

    #superior_nav > ul > li > button > img {
        max-height: 40px;
        width: auto;
        display: block;
        margin: 0 auto;
    }


}

@media (max-width: 850px) {
    #superior_nav > ul > li {
        width: 50%;
    }
    
    #superior_nav > ul > li > a {
        font-size: 16px;
    }

    nav>#superior_nav {
        border-radius: 0px;
    }

    #superior_nav > ul > li > button > img {
        max-height: 30px;
        width: auto;
        display: block;
        margin: 0 auto;
    }
}
