#menu > ul {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>#menu {
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
}

#menu > ul > li {
    text-align: center;
}

#menu > ul > li > a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    display: block;
    padding: 0.5rem 1rem;
}

#menu > ul > li > a:hover {
    color: white;
    text-decoration: underline;
}

#menu > ul > li > button {
    background-color: transparent;
    border: none;
    padding: 0;
}

#menu > ul > li > button > img {
    max-height: 50px;
    width: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    #menu > ul > li {
        width: 90%;
    }
    
    #menu > ul > li > a {
        font-size: 20px;
    }

    nav>#menu {
        border-radius: 0px;
    }

    #menu > ul > li > button > img {
        max-height: 40px;
        width: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 920px) {
    #menu > ul > li {
        width: 70%;
    }
    
    #menu > ul > li > a {
        font-size: 18px;
    }

    nav>#menu {
        border-radius: 0px;
    }

    #menu > ul > li > button > img {
        max-height: 40px;
        width: auto;
        display: block;
        margin: 0 auto;
    }


}

@media (max-width: 850px) {
    #menu > ul > li {
        width: 50%;
    }
    
    #menu > ul > li > a {
        font-size: 16px;
    }

    nav>#menu {
        border-radius: 0px;
    }

    #menu > ul > li > button > img {
        max-height: 30px;
        width: auto;
        display: block;
        margin: 0 auto;
    }


}
